<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="description" content="log2({{.Requests}}) = {{.Log2lzcnt}}">
    <meta name="application-name" content="lzcnt.space">
    <meta name="author" content="iskrim">
    <meta content="website" property="og:type">
    <meta content="https://lzcnt.space" property="og:url">
    <meta content="LZCNT" property="og:site_name">
    <meta content="lzcnt %rdi, %rdi" property="og:title">
    <meta content="log2lzcnt({{.Requests}}) = {{.Log2lzcnt}}" property="og:description">
    <meta
        content="https://mastodon.goldencaramel.skin/system/media_attachments/files/113/844/350/154/991/661/original/8992eed7f2638496.jpg"
        property="og:image">
    <meta content="640" property="og:image:width">
    <meta content="640" property="og:image:height">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>LZCNT</title>

    <form id="reset" action="/reset" method="get"></form>
</head>

<body>
    <div style="display: flex; justify-content: center;">
        <h2 style="text-align: center;"><code>LZCNT - Count the Number of Leading Zero Bits</code></h2>
    </div>
    <div style="width: fit-content; margin-left: auto; margin-right: auto;">
        {{template "log2.s.html" .}}
    </div>
</body>

</html>