<style>.stx_root{color: rgb(255,255,255);background-color: rgb(33,33,33);}.stx2{color: rgb(220,150,28);font-weight: bold;}.stx3{color: rgb(181,120,206);}.stx4{color: rgb(70,70,240);}.stx5{color: rgb(254,254,91);font-weight: bold;}.stx6{color: rgb(115,158,213);font-weight: bold;}.stx7{color: rgb(24,212,236);}.stx8{color: rgb(139,15,127);font-weight: bold;}.stx9{color: rgb(11,84,118);}.stxa{color: rgb(31,145,31);font-weight: bold;}.stxb{color: rgb(0,0,0);}</style><div class="stx_root"><pre><code>    <span class="stx8">.section</span>    <span class="stx3">.text</span>
    <span class="stx8">.global</span>     <span class="stx3">log2lzcnt</span>
    <span class="stx8">.type</span>       <span class="stx3">log2lzcnt</span>, <span class="stx3">@function</span>
<span class="stxa"># {{template "source_code.html" .}}
</span><span class="stxa"># {{template "reset.html" .}}
</span><span class="stx9">log2lzcnt:</span>              <span class="stxa"># log2lzcnt({{.Requests}});
</span>    <span class="stx5">lzcnt</span>   <span class="stx6">%rdi</span>, <span class="stx6">%rdi</span> 
    <span class="stx5">movq</span>    <span class="stx3">$63</span>,  <span class="stx6">%rax</span>
    <span class="stx5">sub</span>     <span class="stx6">%rdi</span>, <span class="stx6">%rax</span>
    <span class="stx5">ret</span>                 <span class="stxa"># 2^{{.Log2lzcnt}} requests handled
</span></code></pre></div>